footer.footer
	.container.footer__container
		.footer__wrapper
			a(href='#', target='_blank')
				+icon('logo-orion', 'footer__logo-orion')
			.footer__contacts
				a(href='tel:+74992819003') +7 (499) 281-90-03
				a(href='mailto:info@orionsoft.ru') info@orionsoft.ru
			.footer__socials
				a.footer__socials-item(href='#', target='_blank')
					+icon('telegram')
				a.footer__socials-item(href='#', target='_blank')
					+icon('youtube')
				a.footer__socials-item(href='#', target='_blank')
					+icon('rutube')
				a.footer__socials-item(href='#', target='_blank')
					+icon('habr')
