<svg class="board__window" viewBox="0 0 418 215" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g filter="url(#filter0_f_495_453)">
		<path d="M48 104V181.5H369.5V100.5L48 104Z" fill="url(#paint0_radial_495_453)" fill-opacity="0.46"/>
	</g>
	<g filter="url(#filter1_ddd_495_453)">
		<path
			d="M48 92.5H367.5M367.5 95.5H48M47 186.5H369M369 189.5H47M39.5 193.5C38 191.5 34.9 187.1 34.5 185.5C34.1 183.9 34.3333 174.833 34.5 170.5V56.5M38 56.5V180.5C38 182.5 38 183.5 39 186L42 193.5M44.5 193.5C43.5 191.833 41.5 187.4 41.5 183V56.5M379.5 194C381 192 383 189 383 185.5C383 183.851 383.167 174.833 383 170.5V56.5M379.5 56.5V180.5C379.5 182.5 380 186.5 379 189C378.2 191 377 193 376 194.5M373.5 194C374.5 192.333 376 188.5 376 183V56.5M20 44.5H397.5"
			stroke="currentColor" stroke-linecap="round"/>
	</g>
	<defs>
		<filter id="filter0_f_495_453" x="39" y="91.5" width="339.5" height="99" filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
			<feGaussianBlur stdDeviation="4.5" result="effect1_foregroundBlur_495_453"/>
		</filter>
		<filter id="filter1_ddd_495_453" x="-24.5" y="0" width="466.5" height="239" filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
										 result="hardAlpha"/>
			<feOffset/>
			<feGaussianBlur stdDeviation="6.5"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0.384314 0 0 0 0 0.447059 0 0 0 0 0.929412 0 0 0 1 0"/>
			<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_495_453"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
										 result="hardAlpha"/>
			<feOffset/>
			<feGaussianBlur stdDeviation="5.5"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0.384314 0 0 0 0 0.447059 0 0 0 0 0.929412 0 0 0 1 0"/>
			<feBlend mode="normal" in2="effect1_dropShadow_495_453" result="effect2_dropShadow_495_453"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
										 result="hardAlpha"/>
			<feOffset/>
			<feGaussianBlur stdDeviation="22"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0.384314 0 0 0 0 0.447059 0 0 0 0 0.929412 0 0 0 1 0"/>
			<feBlend mode="normal" in2="effect2_dropShadow_495_453" result="effect3_dropShadow_495_453"/>
			<feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow_495_453" result="shape"/>
		</filter>
		<radialGradient id="paint0_radial_495_453" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
										gradientTransform="translate(196 138) rotate(91.0051) scale(57.0088 213.347)">
			<stop offset="0.451923" stop-color="#0C123D"/>
			<stop offset="0.6875" stop-color="#384187"/>
			<stop offset="1" stop-color="#6272ED"/>
		</radialGradient>
	</defs>
</svg>
