<svg class="board__window" viewBox="0 0 288 230" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g filter="url(#filter0_f_495_465)">
		<path d="M222 131.5V202L37 182.5L36 100L222 131.5Z" fill="url(#paint0_radial_495_465)" fill-opacity="0.46"/>
	</g>
	<g filter="url(#filter1_ddd_495_465)">
		<path
			d="M34 97.5L221.5 130M221.5 124.5L34 92M34 190.5L223.5 210M223.5 206.5L34 186.5M34 44.5L267.5 92M226 104.453V210M230 104.453L229 210M232 207.282L233.5 104M26 193.5C27.5 191.5 29.5 188.5 29.5 185C29.4999 183.351 29.6666 174.333 29.5 170V56M26 56V180C26 182 26.5 186 25.5 188.5C24.7 190.5 23.5 192.5 22.5 194M20 193.5C21 191.833 22.5 188 22.5 182.5V56"
			stroke="currentColor" stroke-linecap="round"/>
	</g>
	<defs>
		<filter id="filter0_f_495_465" x="27" y="91" width="204" height="120" filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
			<feGaussianBlur stdDeviation="4.5" result="effect1_foregroundBlur_495_465"/>
		</filter>
		<filter id="filter1_ddd_495_465" x="-24.5" y="0" width="336.5" height="254.5" filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
										 result="hardAlpha"/>
			<feOffset/>
			<feGaussianBlur stdDeviation="6.5"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0.384314 0 0 0 0 0.447059 0 0 0 0 0.929412 0 0 0 1 0"/>
			<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_495_465"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
										 result="hardAlpha"/>
			<feOffset/>
			<feGaussianBlur stdDeviation="5.5"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0.384314 0 0 0 0 0.447059 0 0 0 0 0.929412 0 0 0 1 0"/>
			<feBlend mode="normal" in2="effect1_dropShadow_495_465" result="effect2_dropShadow_495_465"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
										 result="hardAlpha"/>
			<feOffset/>
			<feGaussianBlur stdDeviation="22"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0.384314 0 0 0 0 0.447059 0 0 0 0 0.929412 0 0 0 1 0"/>
			<feBlend mode="normal" in2="effect2_dropShadow_495_465" result="effect3_dropShadow_495_465"/>
			<feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow_495_465" result="shape"/>
		</filter>
		<radialGradient id="paint0_radial_495_465" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
										gradientTransform="translate(129 151) rotate(90) scale(51 104.334)">
			<stop offset="0.00480769" stop-color="#0C123D"/>
			<stop offset="0.721154" stop-color="#384187"/>
			<stop offset="1" stop-color="#6272ED"/>
		</radialGradient>
	</defs>
</svg>
