<svg class="board__window" viewBox="0 0 293 235" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g filter="url(#filter0_f_495_433)">
		<path d="M70 135V205.5L255 186L256 103.5L70 135Z" fill="url(#paint0_radial_495_433)" fill-opacity="0.46"/>
	</g>
	<g filter="url(#filter1_ddd_495_433)">
		<path
			d="M58.5 98.5V215M62.5 98.5L61.5 215L261.5 194M66 98L64.5 212L258.5 190.5M259.5 56.5L259 182C258.833 183 259.1 185.8 261.5 189C263.9 192.2 264.833 193.667 265 194M269 193.5L265 187.5C264.5 186.667 263.5 184.4 263.5 182C263.5 179.6 263.5 97.3333 263.5 56.5M273 194C271.5 192.167 268.4 188.3 268 187.5C267.5 186.5 267 186 267 182C267 178.8 267 97 267 56.5M71 132.5L254.5 100.5M254.5 96.5L71 129M20 92.5L254.5 44.5"
			stroke="currentColor" stroke-linecap="round"/>
	</g>
	<defs>
		<filter id="filter0_f_495_433" x="61" y="94.5" width="204" height="120" filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
			<feGaussianBlur stdDeviation="4.5" result="effect1_foregroundBlur_495_433"/>
		</filter>
		<filter id="filter1_ddd_495_433" x="-24.5" y="0" width="342" height="259.556" filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB">
			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
										 result="hardAlpha"/>
			<feOffset/>
			<feGaussianBlur stdDeviation="6.5"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0.384314 0 0 0 0 0.447059 0 0 0 0 0.929412 0 0 0 1 0"/>
			<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_495_433"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
										 result="hardAlpha"/>
			<feOffset/>
			<feGaussianBlur stdDeviation="5.5"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0.384314 0 0 0 0 0.447059 0 0 0 0 0.929412 0 0 0 1 0"/>
			<feBlend mode="normal" in2="effect1_dropShadow_495_433" result="effect2_dropShadow_495_433"/>
			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
										 result="hardAlpha"/>
			<feOffset/>
			<feGaussianBlur stdDeviation="22"/>
			<feComposite in2="hardAlpha" operator="out"/>
			<feColorMatrix type="matrix" values="0 0 0 0 0.384314 0 0 0 0 0.447059 0 0 0 0 0.929412 0 0 0 1 0"/>
			<feBlend mode="normal" in2="effect2_dropShadow_495_433" result="effect3_dropShadow_495_433"/>
			<feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow_495_433" result="shape"/>
		</filter>
		<radialGradient id="paint0_radial_495_433" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
										gradientTransform="translate(163 154.5) rotate(90) scale(51 104.334)">
			<stop offset="0.00480769" stop-color="#0C123D"/>
			<stop offset="0.721154" stop-color="#384187"/>
			<stop offset="1" stop-color="#6272ED"/>
		</radialGradient>
	</defs>
</svg>
