.role {
	display: flex;
	align-items: flex-end;
	gap: 8px;

	@include max(tl) {
		align-items: flex-start;
	}

	&__title {
		font-family: $secondFont;
	}

	&__note {
		color: rgba($color-text, 0.4);
		font-size: 12px;
		line-height: 0.8;

		@include max(tl) {
			display: none;
		}
	}
}
