extends ../layouts/default

block vars
	-
		const page = {
			title: 'Orionsoft | Detail'
		};

block main
	section.service
		.service__gradient
		.service__poster
			+picture('poster2', 'jpg', 'service__poster-image', '')
		.container.service__container
			.service__content
				+button('К афише', 'button--gray service__button', '#', 'arrow-left')
				.service__rating
					span 10,0
					span Топ-5
				+title('Оптимизируй меня, если сможешь', 'service__title')
				.service__description.
					От ИТ-директора все время ускользают ресурсы инфраструктуры, которые он может использовать более эффективно. Чтобы поймать
					их и задейство-вать на полную мощность, ему придется применить лучшие инструменты управления, мониторинга и аналитики.
					Какое ПО ему в этом поможет?
				.service__roles-label В главных ролях:
				.service__roles
					.role
						+icon('zvirt-dcmanager', 'role__title')(width='45', height='19')
						span.role__note (Централизованное управление виртуализацией)
					.role
						+icon('zvirt-metrics', 'role__title')(width='45', height='18')
						span.role__note (Аналитика и мониторинг)
					.role
						+icon('cloudlink', 'role__title')(width='80', height='10')
						span.role__note (CMP-платформа)
				.service__carousel.carousel
					.carousel__slider.swiper
						.swiper-wrapper
							.carousel__slide.swiper-slide
								+title('Материалы о фильме', 'carousel__title')
								.carousel__spoiler Спойлер
								.carousel__text.
									Компания внедрила платформу для управления инфраструктурой Cloudlink от Orion soft. Нагрузка на системы теперь
									прогнозируемая, а бизнес может планировать покупку только необходимого оборудования. Все неиспользуемые ресурсы были пойманы!
							.carousel__slide.swiper-slide
								+title('Материалы о фильме', 'carousel__title')
								.carousel__spoiler Отзыв крупной компании:
								.carousel__text.
									«С помощью CMP-платформы Cloudlink мы повысили утилизацию <span>CPU с 22% до 60%</span>. В перспективе это поможет
									нам сэкономить более 100 млн руб. в год».
							.carousel__slide.swiper-slide
								+title('Материалы о фильме', 'carousel__title')
								.carousel__spoiler Отзыв крупной компании:
								.carousel__text.
									«После внедрения zVirt Metrics и DC Manager мы обнаружили 38% свободных мощностей и не закупили лишних
									серверов — <span>сэкономили 160 млн руб.</span>».
						.carousel__pagination.swiper-pagination
					.carousel__nav.swiper-nav
						.swiper-btn-prev
							+icon('arrow-left')(width='14', height='24')
						.swiper-btn-next
							+icon('arrow-right')(width='14', height='24')
				.service__nav
					+button('Предыдущий фильм', 'button--outline service__nav-button service__nav-button--prev', '#', 'arrow-left')
					+button('Следующий фильм', 'button--outline service__nav-button service__nav-button--next', '#', 'arrow-right')